@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TaxiService</title>
    <base href="/" />
</head>
<body>
    <app-root></app-root>
    <script type="text/javascript" src="~/AngularApp/runtime.js"></script>
    <script type="text/javascript" src="~/AngularApp/polyfills.js"></script>
    <script type="text/javascript" src="~/AngularApp/styles.js"></script>
    <script type="text/javascript" src="~/AngularApp/vendor.js"></script>
    <script type="text/javascript" src="~/AngularApp/main.js"></script>
</body>
</html>