<div class="container">
  <h1 class="page-header">Comment</h1>
  <div class="row">
    <div class ="col-md-3">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              [disabled]="disabled"
              type="text"
              cols="180"
              rows="10"
              id="description"
              class="form-control"
              [(ngModel)] = "descriptionInput"
              name="description"
              required
              #description="ngModel"></textarea>
          </div>
          <span class="help-block" *ngIf="!description.valid && description.touched">Please enter the Description</span>
          <div class="form-group" *ngIf="description.value === ''">
            <label for="date">Date</label>
            <input
              disabled = "true"
              type="text"
              id="date"
              class="form-control"
              name="date"
              required = "true"
              [ngModel]="dateInput"
            >
          </div>
          <div class="form-group" *ngIf="rideStatus === 6">
            <label for="grade">Grade</label>
            <input
              [disabled]="disabled"
              type="number"
              id="grade"
              class="form-control"
              [(ngModel)] = "gradeInput"
              min="1"
              max="5"
              value="1"
              name="grade"
              #grade="ngModel">
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!f.valid || !gradeValid()"
          [hidden]="disabled">Comment</button>
        </div>
      </form>
    </div>
  </div>
</div>

