<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-6">
          <button type="submit" class="btn btn-success" *ngIf="myGlobal.myUser.accessLevel === 1">Save</button>
          <button type="button" class="btn btn-success" *ngIf="myGlobal.myUser.accessLevel === 2" (click)="OnFinish()">Finish</button>
          <button type="button" class="btn btn-danger" style="margin-left: 50px" routerLink="/">Cancel</button>
        </div>
      </div>
      <div class="row" *ngIf="myGlobal.myUser.accessLevel !== 3">
        <div class="col-xs-6">
          <div class="form-group">
            <label>Start: {{startAddress}}</label>
            <label *ngIf="ride.rideStatus === 2 || ride.rideStatus === 3">End: {{endAddress}}</label>
            <agm-map [latitude]="marker.lat" [longitude]="marker.lng" (mapClick)="onClickMap($event)" [zoom]="14">
              <agm-marker
                [latitude]="marker.lat"
                [longitude]="marker.lng"
                [label]="marker.label"
                id="gmApi"
                *ngIf="marker.locationChoosen"
                ></agm-marker>
              <agm-marker
                [latitude]="endMarker.lat"
                [longitude]="endMarker.lng"
                [label]="endMarker.label"
                id="gmApi1"
                *ngIf="endMarker.locationChoosen"
              ></agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="myGlobal.myUser.accessLevel === 1">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="carType">Vehicle type</label>
            <select
              id="carType"
              [disabled]="editMode"
              #CARTYPE>
              <option *ngFor="let vehicle of vehicleType"
                [value]="vehicle"
                >{{vehicle}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="ride.rideStatus === 3">
        <label for="price">Price</label>
        <input
          [disabled]="myGlobal.myUser.accessLevel !== 2"
          type="number"
          id="price"
          class="form-control"
          [(ngModel)] = "ride.price"
          min="1"
          max="5"
          value="1"
          name="price"
          required
          #price="ngModel">
      </div>
    </form>
  </div>
</div>
