<div class="row">
  <div class="col-xs-12">

  </div>
</div>
<div class="row" [hidden]="isHidden()">
  <button type="button" class="btn btn-warning"><a [routerLink]="'edit'">Modify</a></button>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ride.startLocation.streetName}} {{ride.startLocation.streetNumber}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button"
              class="btn btn-primary dropdown-toggle"
              style="cursor:pointer">
        Manage Ride <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor:pointer" *ngIf="myGlobals.myUser.accessLevel === 2 && (ride.rideStatus === 0  || ride.rideStatus === 1)" (click)="OnClick('accept')">Accept</a></li>
        <li><a style="cursor:pointer" *ngIf="myGlobals.myUser.accessLevel === 1 && (ride.rideStatus === 0  || ride.rideStatus === 1)" (click)="OnClick('cancel')">Cancel</a></li>
        <li><a style="cursor:pointer" *ngIf="myGlobals.myUser.accessLevel === 2 && (ride.rideStatus === 3 || ride.rideStatus === 2)" (click)="OnClick('failed')">Failed</a></li>
        <li><a style="cursor:pointer" *ngIf="myGlobals.myUser.accessLevel === 2 && (ride.rideStatus === 3 || ride.rideStatus === 2)" (click)="OnClick('success')">Successful</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ rideStatus }}
  </div>
</div>

<div class="row" *ngIf="ride.rideStatus !== 0 && ride.rideStatus !== 1">
  <div class="col-xs-12">
    <app-comment
    [comment]="ride.comment"
    [rideStatus]="ride.rideStatus"
    [rideID]="ride.rideID"></app-comment>
  </div>
</div>
